.App {
  text-align: center;
  margin: 12px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-body {
  padding: 8px;
}

.switch__track {
  border-radius: 10px;
  box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50);
  display: inline-block;
  margin: 0 20px;
  position: relative;
  width: 60px;
  height: 20px;
  background: #c0c0c0;
}

.switch__thumb {
  background: #d6d6d5;
  border-radius: 10px;
  position: relative;
  left: 1px;
  top: 1px;
  width: 18px;
  height: 18px;
  transition: left .5s;
}

.switch__thumb.docks {
  left: 41px;
}

.station-border {
  border: 1px solid #ccc;
  padding: 1px;
  margin: 2px;
}

.pie-label{
  font-size: 12px;
  font-family: sans-serif;
}

.arc > path{
  opacity: 0.8;
}

h6{
  margin: 8px;
}